body											{ font:normal 12pt Arial, sans-serif; color:#000; line-height:1.5; }
a img											{ border:0; }
a												{ color:#000; }
a:link:after,a:visited:after,
a:link::after,a:visited::after					{ content:" (" attr(href) ")"; font-size:smaller; }
